body {
  font-family: Arial;
  text-align: center;
  background: #f4f6f9;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  color: #2c3e50;
}